<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>자유게시판</title>
</head>
<body>
<h1>자유 게시판</h1>
<button onclick="logout()">로그아웃</button>
<button onclick="main()">메인페이지</button>
<script>
  function logout() {
    document.cookie = "jwtToken=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    // 로그아웃 후 메인 페이지로 리다이렉트합니다.
    window.location.href = "/main";
  }

  function main() {
    // 메인 페이지로 이동
    window.location.href = "/main/auth";
  }

</script>
</body>
</html>